services:
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:5001
    ports:
      - "5173:80"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - "5001:5001"
    networks:
      - app-network
    depends_on:
      database:
        condition: service_healthy

  database:
    image: postgres:16-alpine
    restart: always
    shm_size: 128mb
    env_file:
      - .env
    ports:
      - "5432:5432" # can consider not exposing this port
    networks:
      - app-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U matcha_user -d matcha_db -h 127.0.0.1 -p 5432",
        ]
      interval: 2s
      timeout: 3s
      retries: 30

networks:
  app-network:
    driver: bridge
