.login-container {
  background-color: #ffe699;
  padding: 20px 100px 60px 100px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-input {
  font-family: sans-serif;
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
  border-color: grey;
  width: 50%
}
