.login-container {
  padding: 50px 100px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-container h1 {
  margin: 0px;
  padding: 0px;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.login-container input {
  font-family: sans-serif;
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
  border-color: grey;
  width: 100%
}
