.login-container {
  background-color: #ffe699;
  padding: 20px 50px 40px 50px;
  border-radius: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-input {
  font-family: sans-serif;
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
  border-color: grey;
  width: 50%
}

.login-button {
  margin: 10px 0px 20px 0px;
  background-color: #733ac4;
  color: white;
  width: 50%;
}