.home-container {
  display: flex;
  flex-direction: row;
  width: clamp(320px, 90%, 1400px);
  box-sizing: border-box;
  height: 90vh;
  padding: 30px 5px 30px 30px;
}

.home-sidebar {
  flex: 0 0 20%;
  min-width: 250px;
  overflow-y: auto;
  padding-right: 45px;
  border-right: 5px solid #213547;
}
.home-sidebar h2 {
  display: block;
  margin: 0.5em auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-sidebar h1 {
  font-size: 2.8em;
  margin: 0.5em 0;
}
.home-sidebar h1:hover {
  color: #b394d6;
}
.home-sidebar a {
  text-decoration: none;
}

.home-page-layout {
  overflow-y: auto;
  /* width: 100%; */
  flex: 1 1 auto;
  min-width: 0;
  padding-left: 45px;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #213547;
}
