.login-container {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 30px;
}
.login-container input {
  font-family: sans-serif;
  font-size: medium;
  width: 100%;
}
