.home-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  min-width: 1000px;
  height: 90vh;
  padding: 30px 5px 30px 30px;
}

.home-container-vertical-line {
  border: 2px solid #213547;
  margin: 0px 5px;
}

.home-sidebar {
  width: 15%;
  min-width: 15em;
  overflow-y: auto;
  padding-right: 45px;
}
.home-sidebar h2 {
  display: block;
  margin: 0.5em auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-sidebar h1 {
  font-size: 2.8em;
  margin: 0.5em 0;
}
.home-sidebar h1:hover {
  color: #b394d6;
}
.home-sidebar a {
  text-decoration: none;
}

.home-page-container {
  overflow-y: auto;
  width: 100%;
  padding-left: 45px;
  min-width: 500px;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #213547;
}
