.home-container {
  width: 95%;
  height: 90vh;
  padding: 30px 5px 30px 30px;

  display: flex;
  flex-direction: row;
  /* gap: 50px; */
}

.home-container-vertical-line {
  border: 2px solid #213547;
  margin: 0px 5px;
}

.home-sidebar {
  width: 15%;
  min-width: 15em;
  overflow-y: auto;
  padding-right: 45px;
}

.home-sidebar h2 {
  display: block;
  margin: 0.5em auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-sidebar h1 {
  font-size: 2.8em;
  color: #213547;
}

.home-sidebar h1:hover {
  color: #b394d6;
}

.home-sidebar a {
  text-decoration: none;
}

/* Styling the scrollbar */
.home-sidebar::-webkit-scrollbar {
  width: 5px;
}

.home-sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.home-sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.home-sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.profile-picture {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #213547;
}


.home-page-container {
  overflow-y: auto;
  width: 100%;
  padding-left: 45px;
}

/* Styling the scrollbar */
.home-page-container::-webkit-scrollbar {
  width: 5px;
}

.home-page-container::-webkit-scrollbar-track {
  background: transparent;
}

.home-page-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.home-page-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.profile h2 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

#profile-button-container {
  display: flex;
  flex-direction: row;
}

.profile-button {
  width: 7em;
  border-radius: 0px;
  border: 1px solid grey;
  color: black;
}

#profile-biography-text {
  margin-top: 10px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
}

#profile-biography-text::placeholder {
  color: rgba(255, 255, 255, 0.811);
  font-style: italic;
}

#profile-tag-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.profile-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  padding: 2px 5px;
  border-radius: 10px;
  border: 2px solid black;
}

.profile-tag-button,
.profile-tag-button:hover,
.profile-tag-button:focus,
.profile-tag-button:focus-visible {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-tag-text {
  font-weight: bold;
  margin: 0;
}