.profile {
  width: 20%;
  min-width: 300px;
}
.profile h2 {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: bold;
}

.profile-selection-button {
  margin: 0;
  width: 7em;
  border-radius: 0px;
  border: 1px solid #213547;
  color: #213547;
}
.profile-selection-button:not(:last-child) {
  border-right: none;
}

.profile-text-input {
  border-radius: 10px;
  font-size: 16px;
}
.profile-text-input::placeholder {
  font-style: italic;
}

.profile-tag {
  margin: 5px 0 10px 0;
  background-color: #b394d6;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid #213547;
}
.profile-tag p {
  font-weight: bold;
  margin: 0;
}
.profile-tag button,
.profile-tag button:hover,
.profile-tag button:focus,
.profile-tag button:focus-visible {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-util-button {
  width: auto;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
