.chatContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 30px 40px 0 0;
  border: 2px solid #213547;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.chatSidebarContainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  flex: 0 0 35%;
  max-width: 35%;
  min-width: 200px;
  overflow-y: auto;
  border-right: 1px solid #213547;
}

.chatSidebarItem {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #213547;
}
.chatSidebarItem:first-child {
  border-top: none;
}
.chatSidebarItem:last-child {
  border-bottom: 1px solid #213547;
}
.chatSidebarItem:focus,
.chatSidebarItem:focus-visible {
  outline: none;
}

.chatSidebarItemText {
  overflow: hidden;
}
.chatSidebarItemText p,
.chatSidebarItemText h2 {
  margin: 10px 20px;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatSelectedContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  height: 100%;
}
.chatSelectedHeader {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #b394d6;
  border-bottom: 1px solid #213547;
}

.chatBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
}
.chatBox p {
  line-height: 1em;
}
.chatBoxUser {
  padding: 0 10px;
  text-align: left;
  margin-left: auto;
  border-radius: 10px;
  background-color: lightblue;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.chatBoxOther {
  padding: 0 10px;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.chatInput {
  all: unset;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-top: 1px solid #213547;
  height: 1.5em;
  min-height: 1.5em;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.chatProfilePicture {
  display: block;
  margin: 0;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 2px solid #213547;
}
