.profile {
  width: 20%;
  min-width: 300px;
}
.profile form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profileRow {
  display: flex;
  gap: 10%;
}
.profileInputFull {
  width: 100%;
}
.profileTextArea {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px;
}
.profile h2 {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: bold;
}

.profileSelectionButton {
  padding: 0.6em;
  width: 7em;
  border: 1px solid #213547;
  color: #213547;
}
.profileSelectionButton:not(:last-child) {
  border-right: none;
}

.profileTextInput {
  border-radius: 10px;
  font-size: 16px;
}
.profileTextInput::placeholder {
  font-style: italic;
}

.profileTag {
  margin: 5px 0 10px 0;
  background-color: #b394d6;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid #213547;
}
.profileTag p {
  font-weight: bold;
  margin: 0;
}
.profileTag button,
.profileTag button:hover,
.profileTag button:focus,
.profileTag button:focus-visible {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profileUtilButton {
  width: unset;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
.profileUtilButton:hover {
  background-color: #b394d6;
  cursor: pointer;
}
