#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.profile-heading {
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 700;
}

#profile-button-container {
  display: flex;
  flex-direction: row;
}

.profile-button {
  width: 7em;
  border-radius: 0px;
  border-color: grey;
  border-width: 1px;
}

#profile-biography-text {
  margin-top: 10px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
}
#profile-biography-text::placeholder {
  color: rgba(255, 255, 255, 0.811);
  font-style: italic;
}

#profile-tag-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  
}

.profile-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  padding: 2px 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.profile-tag-button,
.profile-tag-button:hover,
.profile-tag-button:focus,
.profile-tag-button:focus-visible {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-tag-text {
  font-weight: bold;
  margin: 0;
}
