@font-face {
  font-family: 'Pricedown';
  src: local('Pricedown'), url('./assets//Pricedown\ Bl.otf') format('opentype');
  /* You can add other formats like 'truetype' or 'woff2' for better compatibility */
}

:root {
  font-family: sans-serif;
  /* You can add other formats like 'truetype' or 'woff2' for better compatibility */

  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5c7de0;
  text-decoration: underline;
}
a:hover {
  color: #b394d6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Pricedown';
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: sans-serif;
  margin: 10px 0px 20px 0px;
  background-color: #5c7de0;
  color: white;
  width: 200px;
}
button:hover {
  background-color: #b394d6;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page-wrapper-center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.page-container {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 3px #213547 solid;
  box-sizing: border-box;
}

.error-message {
  color: red;
}
